<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zhaoliang.com.android52">

    <!-- 拨打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 发送短信的权限 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 使用SD卡的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.day01.Day01Activity" />
        <activity android:name=".ui.day02.Day02Activity" />
        <activity android:name=".ui.day03.Day03Activity" />
        <activity android:name=".ui.day04.Day04Activity" />
        <activity android:name=".ui.day05.Day05Activity" />
        <activity android:name=".ui.day06.Day06Activity" />
        <activity android:name=".ui.day07.Day07Activity" />
        <activity android:name=".ui.day08.Day08Activity" />
        <activity android:name=".ui.day09.Day09Activity" />
        <activity android:name=".ui.day10.Day10Activity" />
        <activity android:name=".ui.day11.Day11Activity" />
        <activity android:name=".ui.day12.Day12Activity" />
        <activity android:name=".ui.day01.helloworld.HelloWorldActivity" />
        <activity android:name=".ui.day01.phonedialer.PhoneDialerActivity" />
        <activity android:name=".ui.day01.smssender.SmsSenderActivity" />
        <activity android:name=".ui.day01.clickevent.ClickEventActivity" />
        <activity android:name=".ui.day02.commonlayout.CommonLayoutActivity" />
        <activity android:name=".ui.day02.logcat.LogcatActivity" />
        <activity android:name=".ui.day02.operatorxml.OperatorXMLActivity" />
        <activity android:name=".ui.day02.preference.PreferenceActivity" />
        <activity android:name=".ui.day02.sdstateandsize.SDStateAndSizeActivity" />
        <activity android:name=".ui.day02.storageoption.StorageOptionActivity" />
        <activity android:name=".ui.day03.junit.JunitActivity" />
        <activity android:name=".ui.day03.sqlite.SqliteActivity" />
        <activity android:name=".ui.day03.listview.ListViewActivity" />
        <activity android:name=".ui.day03.dialog.DialogActivity" />
        <activity android:name=".ui.day04.imageviewer.ImageViewerActivity" />
        <activity android:name=".ui.day04.htmlviewer.HTMLViewerActivity" />
        <activity android:name=".ui.day04.simplenewsclient.SimpleNewsClientActivity" />
        <activity android:name=".ui.day04.getandpost.GETAndPOSTActivity" />
        <activity android:name=".ui.day05.httpclientandasynchttpclient.HttpClientAndAsyncHttpClientActivity" />
        <activity android:name=".ui.day05.downloader.DownloaderActivity" />
        <activity android:name=".ui.day06.secondactivity.SecondActivity" />
        <activity android:name=".ui.day06.activityjump.ActivityJumpActivity" />
        <activity android:name=".ui.day06.activitylifecycle.ActivityLifeCycleActivity" />
        <activity android:name=".ui.day06.activitylunchmode.ActivityLunchModeActivity" />
        <activity android:name=".ui.day06.screenorientation.ScreenOrientationActivity" />
        <activity android:name=".ui.day06.startactivityforresult.StartActivityForResultActivity" />
        <activity android:name=".ui.day07.ipdialer.IpDialerActivity" />
        <activity android:name=".ui.day07.smsbroad.SmsBroadActivity" />
        <activity android:name=".ui.day07.sdcardbroad.SDCardBroadActivity" />
        <activity android:name=".ui.day07.packagebroad.PackageBroadActivity" />
        <activity android:name=".ui.day07.bootcomplete.BootCompleteActivity" />
        <activity android:name=".ui.day07.custombroad.CustomBroadActivity" />
        <activity android:name=".ui.day07.orderbroad.OrderBroadActivity" />
        <activity android:name=".ui.day07.phonerecoder.PhoneRecoderActivity" />
        <activity android:name=".ui.day08.service.ServiceActivity" />
        <activity android:name=".ui.day08.leaderservice.LeaderServiceActivity" />
        <activity android:name=".ui.day08.musicplayer.MusicPlayerActivity" />
        <activity android:name=".ui.day08.coderegistborad.CodeRegistBroadActivity" />
        <activity android:name=".ui.day08.startremoteservice.StartRemoteServiceActivity" />
        <activity android:name=".ui.day08.paydemo.PayDemoActivity" />
        <activity android:name=".ui.day08.styleandtheme.StyleAndThemeActivity" />
        <activity android:name=".ui.day08.i18n.I18NActivity" />
        <activity android:name=".ui.day09.loadbigimage.LoadBigImageActivity" />
        <activity android:name=".ui.day09.copybitmap.CopyBitmapActivity" />
        <activity android:name=".ui.day09.Imagespecialeffects.ImageSpecialEffectsActivity" />
        <activity android:name=".ui.day09.drawingboard.DrawingBoardActivity" />
        <activity android:name=".ui.day09.heartbeat.HeartBeatActivity" />
        <activity android:name=".ui.day09.MusicPlayer.MusicPlayerActivity" />
        <activity android:name=".ui.day09.videoplayer.VideoPlayerActivity" />
        <activity android:name=".ui.day09.camera.CameraActivity" />
        <activity android:name=".ui.day10.customcontentprovider.CustomContentProviderActivity" />
        <activity android:name=".ui.day10.operatorsms.OperatorSMSActivity" />
        <activity android:name=".ui.day10.operatorconstacts.OperatorContactsActivity" />
        <activity android:name=".ui.day10.contentobserver.ContentObserverActivity" />
        <activity android:name=".ui.day11.fragment.FragmentActivity" />
        <activity android:name=".ui.day11.animator.AnimatorActivity" />
        <activity android:name=".ui.day12.summary.SummaryActivity" />
        <activity android:name=".ui.day02.commonlayout.layout.LinearLayoutDemoOneActivity" />
        <activity android:name=".ui.day02.commonlayout.layout.LinearLayoutDemoTwoActivity" />
        <activity android:name=".ui.day02.commonlayout.layout.RelativeLayoutDemoOneActivity" />
        <activity android:name=".ui.day02.commonlayout.layout.RelativeLayoutDemoTwoActivity" />
        <activity android:name=".ui.day02.commonlayout.layout.FrameLayoutDemoActivity" />
        <activity android:name=".ui.day02.commonlayout.layout.TableLayoutDemoActivity" />
        <activity android:name=".ui.day02.commonlayout.layout.AbsolueLayoutDemoActivity" />
        <activity android:name=".ui.day02.storageoption.activity.InternalStorageActivity" />
        <activity android:name=".ui.day02.storageoption.activity.ExternalStorageActivity" />
        <activity android:name=".ui.day02.storageoption.activity.SharedPreferencesActivity" />
        <activity android:name=".ui.day02.storageoption.activity.base.BaseStorageActivity" />
        <activity android:name=".ui.ads.nativeads.BaseNativeAdListActivity" />
        <activity android:name=".ui.day04.imageviewer.customimageviewer.CustomImageViewerActivity" />
        <activity android:name=".ui.day04.imageviewer.smartimageview.SmartImageViewActivity" />
        <activity android:name=".ui.day04.imageviewer.picasso.PicassoActivity" />
        <activity android:name=".ui.day04.imageviewer.glide.GlideActivity" />
        <activity android:name=".ui.day04.imageviewer.fresco.FrescoActivity"></activity>
    </application>

</manifest>